body {
    background-color: pink;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.caja {
    border: 2px solid white;
    width: 35%;
}

.caja:nth-of-type(2n-1) {
    background-color: #6E9EB8;
}

.caja:nth-of-type(2n) {
    background-color: #9DC8A0;
}

.caja:nth-of-type(1), .caja:nth-of-type(4), .caja:nth-of-type(5) {
    flex: 1 0 35%;
}