body {
    display: grid;
    grid-auto-columns: 1fr 5fr 1fr;
    grid-gap: 5px;
}

body>a {
    position: fixed;
    left: 15px;
    bottom: 50px;
}

body>a>img {
    width: 50px;
    box-shadow: 5px 5px gray;
}

body>h1:nth-of-type(1) {
    grid-area: 1/1 / 2/4;

    display: flex;
    align-content: center;
    justify-content: center;
    
    margin: 0;
    background: #838F32;
    padding: 20px;
    font-size: 1.5em;
    text-shadow: 5px 5px 5px black;
    color: white;
}

h1, h2 {
    text-align: center;
}

p {
    text-indent: 1.5em;
    text-align: justify;
}

.irA {
    grid-area: 2/1 / 2/2;

    display: flex;
    flex-flow: column;
    justify-content: center;

    margin: 0;
    text-align: center;
    list-style-type: none;
    background-color: #D2E6C7;
}

.irA>li {
    padding: 10px;
    margin: 5px;
    background: #C2CC81;
}

.principal {
    grid-area: 2/2 / 2/3;
    
    padding: 0px 20px 20px 20px;
    background-image: linear-gradient(to right, #D2E6C7 , #C2CC81);
}

.principal>table {
    float: right;
    margin-left: 20px;
    width: 800px;
    border-spacing: 10px;    
    border: none;
}

tr>th:nth-of-type(1) {
    text-align: right;
}

td, th{
    padding: 10px;
}

.principal>table tr:nth-of-type(1) th:nth-of-type(1) {
    visibility: hidden;
}

#derecha {
    grid-area: 2/3 / 2/4;

    padding: 15px 10px 10px 10px;
    background: #C2CC81;
}

#derecha>p {
    font-size: 0.8em;
    font-weight: bold;
    padding: 15px;
    margin: 5px;
}

#derecha>p>a:link, #derecha>p>a:hover, #derecha>p>a:visited {
    color: blue;
}



