:root {
    font-family: Verdana, Arial;
}

div.contenedor {
    margin:auto;
    padding: 0.5rem;
    width: 550px;
    border: 10px outset gray;
    background-color: orange;
    text-align: justify;
}

img {
    float: left;
}

p:not(.letraCapital) {
    text-indent: 2rem;
}

p.letraCapital:first-letter {
    float: left;
    border: 1px solid black;
    margin-right: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-family: Times;
    font-size: 4rem;
    color: gray;
}