body {
    background-color: gray;
}

ul.none {
    margin: auto;
    list-style-type: none;
    width: 650px;
    border: 1px solid black;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #dddddd;
    padding: 5px;
    padding-left: 30px;
}

li {
    border: 1px solid black;
}

ul.none > li {
    position: relative;
    display: inline-block;
}

ul.square {
    position: absolute;
    
    visibility: hidden;
    list-style-type: square;
    background-color: #C6BD2D;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
    color: yellow;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

ul.none>li:nth-of-type(2):hover {
    background-color: #39DE77;
}

ul.none>li:nth-of-type(2):hover ul.square{
    visibility: visible;
}

ol.lower-roman {
    position: absolute;

    visibility: hidden;
    list-style-type: lower-roman;
    background-color: #677EC1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
    color: yellow;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

ul.none>li:nth-of-type(3):hover {
    background-color: #39DE77;
}

ul.none>li:nth-of-type(3):hover ol.lower-roman{
    visibility: visible;
}

ol.decimal-leading-zero {
    position: absolute;

    visibility: hidden;
    list-style-type: decimal-leading-zero;
    background-color: #5B886B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
    color: yellow;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

ul.none>li:nth-of-type(4):hover {
    background-color: #39DE77;
}

ul.none>li:nth-of-type(4):hover ol.decimal-leading-zero{
    visibility: visible;
}