/*
    colores #C7C7C7  #D0CDCD  y los estandar
    el padding de las fotos en porcentual
    el ancho máximo de cada foto: 250px
    el ancho máximo de galería: 1700px   el mínimo 350px
*/

.galeria {
    display: grid;

    background-color: #D0CDCD;
    border: 5px inset;
}
