* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --azul: blue;
    --violeta: violet;
    --azulOscuro: darkblue;
    --blanco: white;
    --gris: gray;
}

body {
    margin: 0px;
    background-position: left;
    background-repeat: repeat;
    background-size: 10vw;
    background-image: url(../2.Imagenes/FondoDelSite.jpg);
}

h1 {
    margin: 0px;
}

#intro {
    text-decoration: underline;
}

h3 {
    text-align: center;
    padding: 1rem;
    border-top: double var(--azul);
    border-bottom: double var(--azul);
}

img {
    object-fit: cover;
}

#derecha {
    text-align: right;
}

.cabecera {
    position: fixed;
    z-index: 1;
    margin: 0px;
    background-image: radial-gradient(circle,var(--azul), var(--violeta), var(--azul));
    height: 5vh;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--blanco);
    border-bottom: var(--azulOscuro) dotted 0.3vw;
}

.enlacesAMisPaginas {
    position: relative;
    top: 5.5vh;
    left: auto;
    float: left;
    background-image: radial-gradient(circle, var(--azul), var(--violeta), var(--azul));
    width: 12.5%;
    height: 4vh;
    padding-top: 1.5vh;
    text-align: center;
    font-size: 1.5rem;
    color: var(--blanco);
    border-bottom: var(--azulOscuro) dotted 0.3vw;
}

nav {
    position: fixed;
    top: 30vh;
    left: 7.5vh;
    padding: 0.5rem;
    background-image: linear-gradient(to right, var(--azul), var(--violeta), var(--azul));
    width: 15vw;
    color: var(--blanco);
    border: var(--azulOscuro) dotted 0.3vw;
}

section {
    box-sizing: content-box;
    position: absolute;
    top: 11.7vh;
    left: 23.5vw;
    background-color: var(--blanco);
    width: 50vw;
    padding: 1vw;
}

footer {
    position: absolute;
    top: 270vh;
    background-image: radial-gradient(circle, var(--azul), var(--violeta), var(--azul));
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 1.5rem;
    color: var(--blanco);
    border-top: var(--azulOscuro) dotted 0.3vw;
}

header a:link, .enlaceCentral a:link, nav a:link {
    color: var(--blanco);
    text-decoration: none;
}

header a:visited, .enlaceCentral a:visited, nav a:visited {
    color: var(--blanco);
    text-decoration: none;
}

header a:hover, .enlaceCentral a:hover, nav a:hover {
    color: var(--azulOscuro);
}

a img:hover {
    opacity: 0.5;
    box-shadow: 3px 3px 8px var(--azul), 3px -3px 8px var(--azul), -3px 3px 8px var(--azul), -3px -3px 8px var(--azul);
}

section img:nth-of-type(1) {
    width:8vw;
    margin-right: 1rem;
}

section video:nth-of-type(1) {
    width:12vw;
    margin-right: 1rem;
}

section .floatIzquierda {
    float: left;
}

section .floatDerecha {
    float: right;
}

section article:nth-of-type(1)>p:nth-of-type(1) {
    text-indent: 5rem;
}

.destacado {
    text-decoration: underline;
    font-weight: bold;
}

section .tachado {
    color: var(--gris);
    text-decoration: line-through;
}

section .enlaceCentral {
    padding: 1vh;
    background-color: var(--azul);
    text-align: center;
}

section table {
    box-sizing: border-box;
    width: 100%;
}

section td img:nth-of-type(1) {
    width: 15vw;
}

section table tr:nth-of-type(2) {
    text-align: center;
}

form {
    border-top:double var(--azul) ;
    padding-top: 1vh;
}


