:root {
    --anchoArticle: 800px;
    --anchoEnlaceImagen:calc(var(--anchoArticle)*0.9);
    --altoEnlaceImagen:calc(var(--anchoEnlaceImagen)*0.5);
}

article {
    margin: auto;
    width: var(--anchoArticle);
}

.enlaceimagen {
    display: flex;
    margin: auto;
    background-image: url(./Imagenes/foto.png);
    background-size: cover;
    width: var(--anchoEnlaceImagen);
    height: var(--altoEnlaceImagen);
}

.bloquetexto {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2rem;
    font-family: 'Righteous';
    transition: all 0.4s;
}

.enlaceimagen:hover .bloquetexto{
    opacity: 0.8;
}

.enlaceimagen:hover{
    background-position: center;
    background-size: 120% 120%;
}

p {
    text-indent: 1rem;
    text-align: justify;
}