body {
    background-color: #E0DFDF; 
}

hr {
    border-color: black;
}

form {
    display: flex;
    flex-flow: row wrap;
    background-color: #C7C6C6;
    border: 1px solid white;
    box-shadow: 5px 5px 3px gray;
    min-width: 635px;
}

div.flex {
    display: flex;
    flex: 1 0 500px;
}

form > * {
    padding: 1rem;
}

label {
    font-weight: bold;
}

input[type="text"] {
    color: #568968;
    margin-left: 1rem;
    flex: 1 0 10%;
}

input[type="submit"] {
    display: block;
    align-self: center;
    margin-left: 33%;
    margin-right: 33%;
}