.flex-container {
    background: linear-gradient(to bottom,#2E77BC,#0B610B);
    display: flex;
    
    justify-content: space-around;
}

.cara {
background-color: #E6E6E6;
border-radius: 25px ;
border: 5px solid gray;
width: 180px;
height: 180px;
padding: 20px;
}

.circulo {
    background-color: gray; 
    border-radius: 22.5px;
    width: 45px;
    height: 45px;
}

.uno {

}