/*
    el formulario como mínimo un width de: 635px;
    color usado en los input de texto para la sombra: #6D8F79;
    Los div con clase flex tienen un width mínimo de 600px
    Poner las etiquetas (label) en negrita

    Observar que si el input submit si se trata 
    como elemento de bloque se puede centrar mediante margin: auto;
*/

body {
    background-color: #E0DFDF;
    
}

hr {
    border-color: black;
}

form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background-color: #C7C6C6;
    border: 1px solid white;
    font-weight: bold;
}

label {
    font-weight: bold;
}

form > div {
    padding: 1rem;
}

input[type="text"] {
    color: #568968;
    margin-left: 1rem;
    flex: 1 0 45%;
}

input[type="submit"] {
    display: inline-block;
    color: blue;
}