tr:nth-of-type(1) {
    color: white;
    background-color: lightgray;
}

.fondoGris {
    color: white;
    background-color: lightgray;
}

.alineado {
    vertical-align: top;
}

p {
    margin: 0;
}